:root {
  /* Colours */
  --color-text: #fff;
  --color-primary: #FFB200;
  --color-secondary: #000957;
  --color-dark: #03346E;
  --color-bg: #1C325B;

  /* Fonts */
  --font-roboto: "Roboto";
}


  /* --color-text: #fff;
  --color-primary: #FF78C4;
  --color-secondary: #FF78C4;
  --color-dark: #B34180;
  --color-bg: #80489C; */
